/* Add your CSS styles here */
body {
    background-color: antiquewhite;
    font-family: monospace;
    text-align: center;
}

input[type="button"] {
    color: aquamarine;
    background-color: black;
    font-size: medium;
    border-radius: 2vh;
    padding: 1vh;
    font-weight: bolder;
    border: 5px solid white;
    box-shadow: 3px 3px black;
}

.block {
    border: 1px solid black;
    padding: 2vh;
    min-width: 50%;
    margin: 2vh auto;
    background-color: #f0f0f0;
    box-shadow: 2px 2px 5px grey;
}

